html { 
  /*background: url(../img/bg-home.jpg) no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
  -webkit-font-smoothing: antialiased;
}

body{
	font-family: "freight-sans-pro";
	/*background: blue;*/
	background:transparent;
	min-height:300px;
	font-weight: 300;
}

html, body {
	height: 100%;
}

.wrapper{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -32px; /* the bottom margin is the negative value of the footer's height */
}

p{
	font-weight: 300;
	letter-spacing: 0.05rem;

}

a{
	color:#d8d8d8;
	letter-spacing: 0.05rem;
}

a:hover{
	color:#d8d8d8;
	letter-spacing: 0.05rem;
	text-decoration: underline;
}

h1{
	font-size: 1.6rem;
	font-family: "orator-std";
	color:white;
	text-transform: uppercase;
	font-style: italic;
	/*font-weight: 200;*/
}

h3{
	font-family: "orator-std";
	color:white;
	text-transform: uppercase;
	font-style: italic;
	font-size:1.4rem;
	/*font-weight: 200;*/
}

h4{
	font-family: "orator-std";
	color: white;
	text-transform: uppercase;
	font-style: italic;
	font-size:1rem;
}

.button{
	background: gray;
}

.top-bar-section ul li, .top-bar-section li:not(.has-form) a:not(.button)
{
	background:none;
}


.top-bar-section li:not(.has-form) a:not(.button):hover,
.top-bar-section li.active:not(.has-form) a:not(.button):hover
{
	background:none;
}

.top-bar-section ul li > a{
	font-family: "orator-std";
	font-size: 1.1rem;
	/*font-weight:300;*/
	text-transform: uppercase;
	font-style: italic;
}

.top-bar-section ul li > a.active{
	text-decoration: underline;
}

.top-bar-section li.active:not(.has-form) a:not(.button){
	background-color:none;
	background:none;
	/*text-decoration: underline;*/
	font-weight: normal;
}

.top-bar-section ul li > a:hover{
	background:none;
	background-color:none;
	text-decoration: underline; 
}

.contain-to-grid{
	background: transparent;
}
.top-bar{
	min-height: 170px;
	/*padding: 80px 0px;*/
	padding: 40px;
	background: rgba(0,0,0,0.8)!important;
	position: relative;
}

.top-bar.expanded{
	background: rgba(0,0,0,0.8)!important;	
}

ul.nav-menu{
	margin-top: 60px;
}

.logo {
	max-width: 220px;
	width: 40%;
}

.social-icons{
	z-index: 9999;
	position: absolute;
	top: 40px;
	right: 50px;
	text-align: right;
}

.social-icons-mobile {
	display: none;
}

.social-icons a, 
.social-icons-mobile a{
	color: white;
	border-radius: 15px;
	background: transparent;
	width: 30px;
	height: 30px;
	display: inline-block;
	margin-left: 5px;
	border: 1px solid white;
}

.social-icons a i
{
	left: -5.5px;
	top: -8px;
	position: relative;
}

.social-icons-mobile a i{
	left: 8px;
	top: 7px;
	position: relative;
}

.social-icons a i.fa-facebook
{
	left: -9px;
}

.social-icons-mobile a i.fa-facebook{
	left: 9px;
}


.bottom-bar{
	max-width: 62.5rem;
	width: 100%;
	margin-bottom: 0px;
	margin: 0 auto;
	min-height:30px;
	color:white;
	background: rgba(0,0,0,0.8);
	padding:10px 25px;
	font-size:12px;
}

.content{
	color: white;
	margin: 80px auto;
	width: 100%;
	max-width: 62.5rem;
	padding: 30px;
	background: rgba(0,0,0,0.8);	
}

.home-content{
	color: white;
	margin: 80px auto;
	width: 100%;
	max-width: 62.5rem;
	overflow: auto;
}

.home-content > .medium-6{
	background: rgba(0,0,0,0.8);
	float:left;
	padding:30px;
	font-size:13px;
}


.push{
	height: 32px;
}

.col-text{
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
	-moz-column-count: 2; /* Firefox */
	column-count: 2;
	vertical-align: top;
	font-weight: 300;
	line-height: 150%;
}


/* menu */

.menus-container{
	margin-top: 25px;
}

.menu-container{
	text-align: center
}

.menu-container a img{
	/*width: 70%;*/
	/*width: 50%;*/
/*	color: white;
	font-size: 20px;
	display: inline-block;
	width: 180px;
	height: 180px;
	border-radius: 90px;
	padding-top: 16px;
	border: 4px solid white;*/
}

.menu-container a i{
	margin-top: 15px;
	font-size: 80px;
}

/* gallery */

.gallery-item{
	margin-top: 25px;
}


/* form */

label{
	color: white;
	font-weight: 300;
	letter-spacing: 0.05rem;
}

label small{
	margin-left: 3px!important;
	color: white;
}

.error > label > small{
	color: #F04124;
}

label.inline{
	display: inline!important;
	line-height: 100%;
}

.reservations{display: none;}

.reservation-container{
	margin: 10px 0;
}

/* calendar */
.calendar .selector.date.time .time-selector{
	width: 35%;
	text-align: center;
}
.calendar .selector.date.time .date-selector, .calendar .date-picker{
	width: 65%;
	text-align: center;
}

.calendar .selector.date.time .date-selector{
	padding-top: 4px;
}

.calendar .date-picker{
	width: 100%;
}

.value-control.second{
	display: none!important;
}

/* map */
#map{
	height: 350px;
	
}


@media only screen and (max-width: 768px) {
	.contain-to-grid .top-bar{
		min-height: 160px!important;
		padding: 20px!important;
	}

	ul.nav-menu{
		display: table;
		margin: 0 auto;
		float: none!important;
	}

	.logo {
		width: 60%!important;
		float: none !important;
		margin: 0 auto;
		display: block;

	}	
}




@media only screen and (max-width: 950px) {

	.social-icons{
		display: block;
	}

/*	.social-icons-mobile{
		display: block;
		position: absolute;
		top: 130px;
		right: 12px;
	}
*/
	.top-bar-section ul li > a{
		font-size: 13px;
		padding: 0 11px!important;
	}
	.contain-to-grid .top-bar{
		padding: 20px;
		min-height: 120px;
	}

	.logo{
		width: 25%;
	}
}

@media only screen and (max-width: 850px) {
	.bottom-bar a{
		line-height: 17px;
	}

	.bottom-bar{
		min-height: 65px;
	}

	.bottom-bar .right{
		margin-top: 10px;
	}
}


@media only screen and (max-width: 768px) {
	.social-icons-mobile{
		top: 170px;
	}




}


@media only screen and (max-width: 640px) {

	.social-icons{
		top: 118px;
		right: 25px;
	}

/*	.social-icons-mobile{
		top: 190px;
	}

*/	.contain-to-grid .top-bar{
		min-height: 180px!important;
	}

	.top-bar.expanded, .top-bar{
		height: 70px!important;
	}

	.top-bar-section ul li{
		float:left;
		margin-bottom: 7px;
	}

	ul.nav-menu{
		margin-top: 15px;
	}

}

@media only screen and (max-width: 480px) {

	.menu-container a i {
/*		margin-top: 11px;
		font-size: 40px;*/
	}

	.menu-container a{
/*		color: white;
		font-size: 20px;
		display: inline-block;
		width: 120px;
		height: 120px;
		border-radius: 60px;
		padding-top: 10px;
		border: 4px solid white;
*/	
	}

	ul.nav-menu{
		margin-top: 12px;
	}

	.social-icons{
		top: 141px;
		

	}

	.col-text{
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}

	.bottom-bar{
		min-height: 85px;
	}



}




